networks:
        lms:
                external: true

volumes:
        lms_db:
        # lms_rabbitmq:

x-backend-service: &backend-service
        image: lms-backend
        environment:
                DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY:?error}
                DJANGO_PORT: ${DJANGO_PORT:-8000}
                DJANGO_DEBUG: ${DJANGO_DEBUG:-True}
                DB_ENGINE: ${DB_ENGINE:-django.db.backends.postgresql}
                DB_USER: ${DB_USER:?error}
                DB_PASSWORD: ${DB_PASSWORD:?error}
                DB_NAME: ${DB_NAME:?error}
                DB_PORT: ${DB_PORT:?error}
                DB_HOST: lms-db
                DB_SSLMODE: ${DB_SSLMODE:-disable}
                DB_CHANNEL_BINDING: ${DB_CHANNEL_BINDING:-disable}
        networks:
                - lms
        build:
                context: ./backend
                dockerfile: Dockerfile.dev
        volumes:
                - ./backend/:/app

services:
        lms-db:
                image: postgres:17.3-alpine
                environment:
                        POSTGRES_USER: ${DB_USER:?error}
                        POSTGRES_PASSWORD: ${DB_PASSWORD:?error}
                        POSTGRES_DB: ${DB_NAME:?error}
                ports:
                        - "${DB_PORT:?error}:5432"
                networks:
                        - lms
                volumes:
                        - lms_db:/var/lib/postgresql/data
                healthcheck:
                        test:
                                [
                                        "CMD-SHELL",
                                        "pg_isready -U ${DB_USER} -d ${DB_NAME}",
                                ]
                        interval: 5s
                        timeout: 30s
                        retries: 5

        # lms-rabbitmq:
        #         image: rabbitmq:4.0.7-management-alpine
        #         environment:
        #                 RABBITMQ_DEFAULT_USER: ${RBMQ_USER}
        #                 RABBITMQ_DEFAULT_PASS: ${RBMQ_PASSWORD}
        #         ports:
        #                 - "15672:15672"
        #                 - "${RBMQ_PORT}:${RBMQ_PORT}"
        #         networks:
        #                 - lms
        #         volumes:
        #                 - lms_rabbitmq:/var/lib/rabbitmq
        #         healthcheck:
        #                 test:
        #                         [
        #                                 "CMD-SHELL",
        #                                 "rabbitmq-diagnostics -q ping || exit 1",
        #                         ]
        #                 interval: 10s
        #                 timeout: 30s
        #                 retries: 3

        lms-backend:
                <<: *backend-service
                command:
                        [
                                "uv",
                                "run",
                                "manage.py",
                                "runserver",
                                "0.0.0.0:${DJANGO_PORT}",
                        ]
                ports:
                        - "${DJANGO_PORT}:${DJANGO_PORT}"
                depends_on:
                        lms-db:
                                condition: service_healthy
                        # lms-rabbitmq:
                        #         condition: service_healthy

        lms-migrations:
                <<: *backend-service
                command:
                        - sh
                        - -c
                        - |
                                uv run manage.py makemigrations
                                uv run manage.py migrate
                depends_on:
                        lms-db:
                                condition: service_healthy

        # lms-worker:
        #         <<: *backend-service
        #         command:
        #                 [
        #                         "celery",
        #                         "-A",
        #                         "backend",
        #                         "worker",
        #                         "--beat",
        #                         "--scheduler",
        #                         "django",
        #                         "--loglevel=${CELERY_LOG_LEVEL:-info}",
        #                         "--autoscale=${CELERY_AUTOSCALE:-3,1}",
        #                 ]
        #         depends_on:
        #                 lms-db:
        #                         condition: service_healthy
        #                 lms-rabbitmq:
        #                         condition: service_healthy
